@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
  width: 100%;
  height: 100%;
}

body{
  background: yellow;
  color: black;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.App {
  background: red;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.channels{
  height: 100%;
  width: 100%;
}

.container_body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.notification{
  cursor: pointer;
}

@media only screen and (min-device-width: 768px) {

/*-----------------------Navbar-----------------------------*/

.navbar-container {
  width: 200px;
  height: 100%;
  background: #3a5373;
  float: left;
  font-family: 'Rubik', sans-serif;
}

.navbar-container .navbar-toggler{
  display: none
}

.navbar-container .navbar-nav{
  list-style-type: none;
  width: 100%;
  float: left;
  padding: 0;
}

.navbar-container .nav-item{
  width: 100%;
  float: left;
  margin: 10px 0;
}

.navbar-container .nav-item:hover {
  background: #334357;
}

.navbar-container .nav-link{
  color: #eff0f2;
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
}

.content_container{
  width: calc(100% - 200px);
  height: 100%;
  float: right;
  background: #eff0f2;
}

.content_container .container{
  width: 100%;
  height: 100%;
}

/*-----------------------Landing-----------------------------*/

.welcome_page{
  width:100%;
  height:100%;
  font-family: 'Rubik', sans-serif;
}

.welcome_page h1{
  width: 50%;
  height: 50%;
  padding: 100px;
  margin: 0 auto;
  font-size: 42px;
  text-align: center;
}

/*--------------Login or Register or ForgetPassword------------*/
.login_form {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #eff0f2;
}

.login_form .login_form_header{
  font-size: 42px;
  text-align: left;
}

.login_form .form-group{
  width: 100%;
}

.form-group label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}


.form-group .form-control{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.form-group button {
  display: inline-block;
  width: 100%;
  background-color: #8ca0a9;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 12px 0px;
  padding: 12px 0px;
}

.form-group span {
  width: 100%;
  border: 1px none #ccc;
  box-sizing: border-box;
  resize: vertical;
  color: red;
  font-size: 12px;
}

div#links-form-group{
  display: flex;
}

div#links-form-group a{
  flex: 1 1 50%;
  height: 100px;
}

div#links-form-group a#forget_password_link{
  text-align: left;
}

div#links-form-group a#register_link{
  text-align: right;
}

/*----------------------- Profile or Channels ------------------------*/

.container_header{
  width: 90%;
  margin: 0 5%;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  position: relative;
}

.container_header h1{
  font-size: 42px;
  display: inline;
}

.container_body_wrapper{
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
}

.container_body{
  width: 60%;
  height: 100%;
  margin: 40px auto;
}

.container_body .profile_row{
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  padding: 20px 0;
}

.profile_row .profile_name{
  width: calc((100% - 18px) /4);
  text-align: left;
  display: inline-block;
}

.profile_row .profile_name_value{
  width: calc((100% - 18px) /4 * 3);
  text-align: left;
  display: inline-block;
}

.profile_row .profile_button{
  width: 16px;
  display: inline-block;
  border: 1px solid #535459;
  font-size: 16px;
  text-align: center
}

.profile_row .profile_button:hover{
  background: #353639;
  border: #353639;
  color: #eff0f2;

}

/* Specific to Channels*/
.container_header #create_channel_div{
  font-size: 42px;
  margin-left: 21px;
  display: inline;
}

.container_header #create_channel_span{
  position:absolute;
  top: 0;
  left: 236px;
  border: 1px solid #424347;
  border-radius: 15px;
  color: #424347;
  padding: 5px;
  border-bottom-left-radius: 0px;
  display: none;
}

.pop_up_wrapper{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.pop_up_wrapper .login_form {
  padding: 50px;
  height: 250px;
}

.login_form .close{
  display: inline-block;
  width: 16px;
  float: right;
  margin-right: 5px;
  text-align: right;
}

.channel {
  width: 100%;
  padding: 20px 0;
}

.channel .delete_channel_item_button{
  margin-left: 20px;
  font-size: 14px;
  border: 1px solid #424347;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 15px;
}

.channel .delete_channel_item_button:hover{
  background: #424347;
  color: #eff0f2;
}

/*----------------------- Channel ------------------------*/

.messages_container{
  width: 100%;
  height: calc(100% - 50px);
  float: left;
  background-color: #eff0f2;
  position: relative;
}

.replies_container{
  width: 40%;
  height: 100%;
  float: right;
  background: #ccdae5;
}

.container_body_wrapper .messages_container{
  height: 100%;
  width: 100%;
  position: relative;
}

.messages_container #new_message_notification{
  position: relative;
  width: 100%;
  top: -5px;
  left: 0px;
  z-index: 10001;
  font-size: 16px;
  text-align: center;
  background: #8ca0a9;
}

.messages_container #new_message_notification:hover{
  background: #495b62;
  color: #eff0f2;
}

.messages_container #messages{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90%;
  z-index: 100;
  overflow: scroll;
}

.messages_container #message_input{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#message_input form{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
}



.container_body_wrapper #messages .message{
  width: calc(100% - 20px);
  margin: 10px 10px;
}


#messages .message .sender_name {
  font: 15px bolder;
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Rubik', sans-serif;
}

#messages .message .created_time {
  font-size: 12px;
  color: rgb(100, 82, 82);
  margin-right: 5px;
}

#messages .message .content {
  width: 100%;
  font-size: 16px;
  word-wrap: break-word;
}

#messages .message .message_image_wrapper {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #989eac;
  margin-top: 5px;
}

#messages .message .message_image_wrapper img{
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

#messages .message .reply_counts {
  font-size: 12px;
  margin-right: 5px;
  color: blue;
}

#messages .message .reply_counts:hover{
  color: blue;
  font-weight: bold
}

form textarea{
  width: calc(100% - 84px);
  height: calc(100% - 20px);
  border: 1px solid #8ca0a9;
  float: left;
  font-size: 16px;
  resize: none;
  padding: 10px;
  white-space: nowrap;
  margin: 0px;
}

form button{
  width: 60px;
  height: 100%;
  border: 1px solid #40546d;
  padding: 0px;
  float: right;
  font-size: 16px;
}


form button:hover{
  background: #40546d;
  color: #eff0f2;
}

.replies_container {
  position: relative;
}

.replies_container .container_header{
  font-size: 28px;
  font-family: 'Rubik', sans-serif;
}

.replies_container #close{
  width: 22px;
  height: 24px;
  font-size: 24px;
  float: right;
  margin-right: 5px;
  border: 1px solid #424347;
  text-align: center;
}

.replies_container #close:hover{
  background-color: #424347;
  color: #eff0f2
}

.replies_container .replies{
  width: 100%;
  height: calc(90% - 50px);
  overflow: scroll;
}

.replies_container .replies .replies_counts_separator{
  width: 100%;
  height: 15px;
}

.replies_container .replies .replies_counts_separator hr{
  width: 100%;
  border-top: 1px solid #40546d;
  float: right;
  clear: both;
}

.replies_container .replies .reply{
  width: calc(100% - 20px);
  margin: 10px;
}

.replies .reply .sender_name {
  font: 15px;
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Rubik', sans-serif;
}

.replies .reply .created_time {
  font-size: 12px;
  color: rgb(100, 82, 82);
  margin-right: 5px;
}

.replies .reply .content {
  width: 100%;
  font-size: 16px;
  word-wrap: break-word;
}

.replies .reply .message_image_wrapper {
  max-width: 200px;
  max-height: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #989eac;
  margin-top: 5px;
}

.replies .reply .message_image_wrapper img{
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}


.replies_container #reply_input{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.replies_container #reply_input form{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
}

/* route: /login or /register ; Login.js or Register.js*/


}




@media only screen and (max-device-width: 768px) {
/*-----------------------Navbar-----------------------------*/

.content_container{
  width: 100%;
  height: 100%;
  background: #eff0f2;
}

.content_container .container{
  width: 100%;
  height: 100%;
/*  overflow-y: scroll;
  overflow-x: hidden;*/
  overflow-y: hidden;
}

.content_container .container#channel_page_container{
  overflow-y: hidden;
}

.navbar-container {
  width: 100%;
  background: #3a5373;
  float: left;
  font-family: 'Rubik', sans-serif;
}

.navbar-toggler {
  cursor: pointer;
  margin: 0px;
  padding: 5px;
  width: 28px;
  height: 28px;
  border: transparent;
  background: transparent;
  box-sizing: content-box;
}

.navbar-toggler .navbar-toggler-lines{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
}

.navbar-toggler .navbar-toggler-line{
  width: 28px;
  height: 2px;
  background: white;
}

.navbar-container .navbar-nav{
  list-style-type: none;
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

.navbar-container .nav-item{
  cursor: pointer;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.navbar-container .nav-link{
  color: #eff0f2;
  font-size: 20px;
  text-decoration: none;
}

div#navbars.navbar.collapse{
  display: none;
}

div#navbars.navbar.show{
  display: block;
}

/*-----------------------Landing-----------------------------*/

.welcome_page{
  width:100%;
  height:100%;
  font-family: 'Rubik', sans-serif;
}

.welcome_page h1{
  width: 100%;
  padding: 100px 0px;
  margin: 0 auto;
  font-size: 42px;
  text-align: center;
}

/*--------------Login or Register or ForgetPassword------------*/
.login_form {
  width: calc(100% - 20px);
  height: 100%;
  background-color: #eff0f2;
  margin-left: 10px;
  margin-right: 10px;
}

.login_form .login_form_header{
  font-size: 30px;
  text-align: left;
  padding-top: 50px;
}


.form-group{
  margin-top: 20px;
}

.login_form .form-group{
  width: 100%;
}

.form-group label{
  display: inline-block;
}


.form-group .form-control{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.form-group button {
  display: inline-block;
  width: 100%;
  background-color: #8ca0a9;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 12px 0px;
  padding: 12px 0px;
}

.form-group span {
  width: 100%;
  border: 1px none #ccc;
  box-sizing: border-box;
  resize: vertical;
  color: red;
  font-size: 12px;
}

div#links-form-group{
  display: flex;
}

div#links-form-group a{
  flex: 1 1 50%;
  height: 100px;
}

div#links-form-group a#forget_password_link{
  text-align: left;
}

div#links-form-group a#register_link{
  text-align: right;
}

/*----------------------- Profile or Channels ------------------------*/

.container_header{
  width: 90%;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  position: relative;
}

.container_header h1{
  padding: 0px;
  font-size: 30px;
  display: inline;
}

.container_body_wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.container_body{
  width: 96%;
  height: 100%;
  margin: 0px 2%;
}

.container_body .profile_row{
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  padding: 5px 0;
}

.profile_row .profile_name{
  width: calc((100% - 18px) /4);
  text-align: left;
  display: inline-block;
}

.profile_row .profile_name_value{
  width: calc((100% - 18px) /4 * 3);
  text-align: left;
  display: inline-block;
  overflow: scroll;
}

.profile_row .profile_button{
  width: 16px;
  display: inline-block;
  border: 1px solid #535459;
  font-size: 16px;
  text-align: center
}

/* Specific to Channels*/
.container_header #create_channel_div{
  font-size: 42px;
  margin-left: 21px;
  display: inline;
}

.container_header #create_channel_span{
  position:absolute;
  top: 0;
  left: 236px;
  border: 1px solid #424347;
  border-radius: 15px;
  color: #424347;
  padding: 5px;
  border-bottom-left-radius: 0px;
  display: none;
}

.pop_up_wrapper{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.pop_up_wrapper .login_form {
  width: calc(100% - 100px);
  padding: 50px;
  height: 300px;
  margin: auto;
  margin-top: calc(30%);
}

.login_form .close{
  display: inline-block;
  width: 16px;
  float: right;
  margin-right: 5px;
  text-align: right;
}

.channel {
  width: 100%;
  padding: 20px 0;
}

.channel .delete_channel_item_button{
  margin-left: 20px;
  font-size: 14px;
  border: 1px solid #424347;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 15px;
}

/*----------------------- Channel ------------------------*/

.messages_container{
  width: 100%;
  height: calc(100% - 50px);
  float: left;
  background-color: #eff0f2;
  position: relative;
}

.replies_container{
  width: 40%;
  height: 100%;
  float: right;
  background: #ccdae5;
}

.container_body_wrapper .messages_container{
  height: 100%;
  width: 100%;
  position: relative;
}

.messages_container #new_message_notification{
  position: relative;
  width: 100%;
  top: -10px;
  left: 0px;
  z-index: 10001;
  font-size: 16px;
  text-align: center;
  background: #8ca0a9;
}

.messages_container #messages{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(90% - 90px);
  z-index: 100;
  overflow: scroll;
}

.messages_container #message_input{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 90px;
  left: 0;
}

#message_input form{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
}



.container_body_wrapper #messages .message{
  width: calc(100% - 20px);
  margin: 10px 10px;
}


#messages .message .sender_name {
  font: 15px bolder;
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Rubik', sans-serif;
}

#messages .message .created_time {
  font-size: 12px;
  color: rgb(100, 82, 82);
  margin-right: 5px;
}

#messages .message .content {
  width: 100%;
  font-size: 16px;
  word-wrap: break-word;
}

#messages .message .message_image_wrapper {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #989eac;
  margin-top: 5px;
}

#messages .message .message_image_wrapper img{
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

#messages .message .reply_counts {
  font-size: 12px;
  margin-right: 5px;
  color: blue;
}

form textarea{
  width: calc(100% - 84px);
  height: calc(100% - 20px);
  border: 1px solid #8ca0a9;
  float: left;
  font-size: 16px;
  resize: none;
  padding: 10px;
  white-space: nowrap;
  margin: 0px;
}

form button{
  width: 60px;
  height: 100%;
  border: 1px solid #40546d;
  padding: 0px;
  float: right;
  font-size: 16px;
}

.replies_container {
  position: relative;
}

.replies_container .container_header{
  font-size: 28px;
  font-family: 'Rubik', sans-serif;
}

.replies_container #close{
  width: 22px;
  height: 24px;
  font-size: 24px;
  float: right;
  margin-right: 5px;
  border: 1px solid #424347;
  text-align: center;
}

.replies_container .replies{
  width: 100%;
  height: calc(90% - 140px);
  overflow: scroll;
}

.replies_container .replies .replies_counts_separator{
  width: 100%;
  height: 15px;
}

.replies_container .replies .replies_counts_separator hr{
  width: 100%;
  border-top: 1px solid #40546d;
  float: right;
  clear: both;
}

.replies_container .replies .reply{
  width: calc(100% - 20px);
  margin: 10px;
}

.replies .reply .sender_name {
  font: 15px;
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Rubik', sans-serif;
}

.replies .reply .created_time {
  font-size: 12px;
  color: rgb(100, 82, 82);
  margin-right: 5px;
}

.replies .reply .content {
  width: 100%;
  font-size: 16px;
  word-wrap: break-word;
}

.replies .reply .message_image_wrapper {
  max-width: 200px;
  max-height: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #989eac;
  margin-top: 5px;
}

.replies .reply .message_image_wrapper img{
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.replies_container #reply_input{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 90px;
  left: 0px;
}

.replies_container #reply_input form{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
}

}
