# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.1.1

# Flask Packages
flask-bcrypt == 0.7.1

# Python MySQL Connector
mysql-connector-python == 8.0.19

# Python JWT
pyjwt == 1.7.1

# SendGrid
sendgrid == 6.1.2